<div>
    <form action="/logout" method="post">

        <input type="submit" value="Sign Out" />
    </form>
</div>
<div>
    <button type="button" (click)="getMsgs()">Read</button>
    <form method="post">
        <input type="text" name="text" placeholder="Enter message" />
        <input type="text" name="tag" placeholder="Tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>List of messages</div>
<form method="post" action="filter">

    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
<div *ngFor="let msg of msgs">
    <b>{{msg.id}}</b>
    <span>{{msg.text}}</span>
    <i>{{msg.tag}}</i>
    <button type="delete">delete</button>
</div>