Login page
    <div><label> User Name : <input type="text" name="username" [(ngModel)]="login"/> </label></div>
    <div><label> Password: <input type="password" name="password" [(ngModel)]="pass" /> </label></div>
    <div><input type="submit" value="Sign In" (click)="loginMethod()" /></div>
<a href="/registration">Add new user</a>